.carrinho__produto {
    padding: 1.5rem 0;

    margin-bottom: 1.5rem;

    border-bottom: 1px solid var(--cinza);

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
}

.carrinho__produto__imagem {
    width: 25%;
    
    margin-right: 5%;
}

.carrinho__produto__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carrinho__produto__valores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrinho__produto__quantidade {
    width: 50px;

    background-color: var(--cinza);

    border: none;
    border-radius: 10px;

    padding: .5rem;

    text-align: center;
}

.carrinho__produto__preco {
    font-size: 1.2rem;
    font-weight: var(--peso-preco);

    color: var(--verde);
}

.carrinho__produto__excluir {
    width: 24px;

    cursor: pointer;
}