.menuLateral__logo, .menuLateral__navegacao, .menuLateral__navegacaoAtivo, .menuLateral__link, .menuLateral__link::before, .menuLateral__link:hover {
    display: none;
}

@media screen and (max-width: 1024px) {
    .menuLateral__logo {
        display: block;
    
        width: 150px;
    
        margin: 0 auto;
    
        padding-bottom: 2rem;
    }
    
    .menuLateral__navegacao {
        display: flex;
        flex-direction: column;

        width: 100%;
    }
    
    .menuLateral__navegacaoAtivo {
        display: block;

        border-left: 10px solid var(--branco);
        
        background-color: var(--verde-escuro);
    }
    
    .menuLateral__link {
        display: block;

        font-size: 24px;
        color: var(--cinza);
        line-height: 85px;
        
        padding-left: 3rem;
    
        box-sizing: border-box;
        
        cursor: pointer;
    }
    
    .menuLateral__link:hover {
        display: unset;

        background-color: var(--verde-escuro);
    }
    
    .menuLateral__link::before {
        display: inline-block;

        width: 24px;
        height: 24px;
    
        margin-right: .5rem;
    }
}