.menu__container {
    width: 940px;

    margin: 0 auto;

    padding: 1rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu__logo {
    width: 100px;

    cursor: pointer;
}

.menu__link {
    color: var(--cinza);

    line-height: 1.2rem;

    padding: 1rem 1.2rem;

    display: flex;
    align-items: center;

    border-radius: 5px;
}

.menu__link:hover {
    background-color: var(--verde-escuro);

    transition: .25s;
}

.menu__linkAtivo {
    color: var(--branco);
    font-weight: var(--peso-link);

    border-bottom: 5px solid var(--branco);
    border-radius: 5px 5px 0 0;
}

.menu__link::before {
    margin-right: 1rem;
}
