.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 940px;

    margin: 0 auto;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.fundoEscuro {
    display: none;

    width: 100%;
    height: 100%;

    background-color: var(--preto);

    opacity: 70%;
}

.fundoEscuroAtivo {
    display: block;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.regulamento {
    display: flex;

    width: 100%;
    height: 100%;
    
    justify-content: space-around;
    align-content: space-around;

    visibility: hidden;

    opacity: 0;

    transition: .25s;
}

.regulamentoAtivo {
    visibility: visible;

    opacity: 1;

    transition: .25s;
}

@media screen and (max-width: 1024px) {
    .produtos {
        width: 100%;

        padding: 2rem;

        box-sizing: border-box;

        justify-content: space-around;
    }
}
