@import url(../img/icones/carrinho-cinza.svg);
@import url(../img/icones/casa.svg);
@import url(../img/icones/engrenagem.svg);
@import url(../img/icones/nota.svg);
@import url(../img/icones/pergunta.svg);

.menu__link {
    color: var(--cinza);

    line-height: 1.2rem;

    padding: 1rem 1.2rem;

    display: flex;
    align-items: center;

    border-radius: 5px;
}

.menu__link:hover {
    background-color: var(--verde-escuro);

    transition: .25s;
}

.menu__link::before {
    content: "";

    width: 24px;
    height: 24px;

    margin-right: .5rem;
}

.menu__link--ativo {
    color: var(--branco);
    font-weight: var(--peso-link);

    border-bottom: 5px solid var(--branco);
    border-radius: 5px 5px 0 0;
}

.menu__link--inicio::before {
    content: url('../img/icones/casa.svg')
}

.menu__link--conta::before {
    content: url('../img/icones/engrenagem.svg')
}

.menu__link--carrinho::before {
    content: url('../img/icones/carrinho-cinza.svg')
}

.menu__link--ajuda::before {
    content: url('../img/icones/pergunta.svg')
}

.menu__link--pedidos::before {
    content: url('../img/icones/nota.svg')
}
