.cabecalho {
    background-color: var(--verde);
    
    max-height: 50px;
    
    padding: 5px 0;

    z-index: 2;
}

.cabecalho__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 940px;

    margin: 0 auto;
}

.cabecalho__menu {
    display: inline-block;
    
    width: 36px;

    cursor: pointer;
}

.cabecalho__menuMobile {
    display: none;
}

.cabecalho__logo {
    display: inline-block;

    height: 40px;
}

.cabecalho__carrinho {
    display: inline-block;
    
    width: 36px;

    cursor: pointer;
}

.menu {
    background-color: var(--verde-claro);

    width: 100%;

    position: absolute;
    top: -100%;

    box-shadow: 0 10px 10px var(--preto-transparente);

    transition: 1s;

    z-index: 15;
}

.menuAtivo {
    top: 52.4px;

    transition: .5s;
}

.menuLateral__fechar {
    display: none;
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        max-height: 90px;
    }

    .cabecalho__container {
        width: 100%;

        padding: 10px;

        box-sizing: border-box;
    }

    .cabecalho__logo {
        height: 30px;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__menuMobile {
        display: inline-block;
        
        width: 36px;
    
        cursor: pointer;

        margin-left: 1rem;
    }

    .menuLateral {
        display: flex;
        flex-direction: column;
    
        width: 320px;
        height: 100vh;
    
        position: absolute;
        bottom: 0;
        left: -200%;
    
        background-color: var(--verde);
    
        padding-top: 2rem;
        padding-bottom: 2rem;
    
        z-index: 10;
    
        transition: .5s;
    }
    
    .menuLateralAtivo {
        position: fixed;
        left: 0;
        top: 0;
    
        transition: .5s;
    }
    
    .menuLateral__fechar {
        display: unset;
        
        position: relative;
        left: 16.5rem;
    
        width: 36px;
    
        cursor: pointer;
    }
}