.regulamento__modal {
    width: 700px;
    height: 500px;

    margin: auto;

    padding: 3rem 2rem;

    position: fixed;
    top: 20vh;

    background-color: var(--branco);
    background-image: url('/assets/img/splash-modal.svg');
    background-position: right;
    background-repeat: no-repeat;

    border-radius: 10px;

    box-shadow: 10px 10px 10px var(--preto-transparente);
    box-sizing: border-box;

    z-index: 100;
}

.regulamento__titulo {
    display: block;
    
    width: 80%;

    margin: 0 auto;

    padding: 1rem 0;
    
    background-color: var(--branco);

    box-sizing: border-box;
    box-shadow: 5px 5px 10px var(--preto-transparente);

    border-radius: 10px;

    color: var(--verde);
    font-weight: var(--peso-titulo);
    font-size: 1.5rem;

    text-align: center;
}

.regulamento__subtitulo {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    font-weight: var(--peso-titulo);
}

.regulamento__texto {
    line-height: 1.5rem;

    margin-bottom: 1.2rem;
}

.regulamento__botao {
    display: block;

    width: 200px;

    margin: 0 auto;

    padding: .75rem 0;

    border: none;
    border-radius: 10px;

    background-color: var(--verde);

    color: var(--branco);
    font-size: 1.075rem;
    font-weight: var(--peso-botao-modal);

    cursor: pointer;
}

.regulamento__botao:hover {
    background-color: var(--verde-escuro);
}

@media screen and (max-width: 570px) {
    .regulamento__modal {
        width: 90%;

        overflow: scroll;

        background-image: url('/assets/img/splash-modal-mobile.svg');
    }
}
