.botao {
    width: 100%;

    margin-top: 1rem;

    padding: 1rem 0;

    background-color: var(--amarelo);

    color: var(--preto);
    font-size: 1.075rem;

    border: none;
    border-radius: 10px;

    transition: .5s;
}

.botao:hover {
    background-color: var(--verde);

    color: var(--branco);

    cursor: pointer;

    transition: .5s;
}
