.menu__linkInicio::before {
    content: url('/assets/img/icones/casa.svg')
}

.menu__linkConta::before {
    content: url('/assets/img/icones/engrenagem.svg')
}

.menu__linkCarrinho::before {
    content: url('/assets/img/icones/carrinho-cinza.svg')
}

.menu__linkAjuda::before {
    content: url('/assets/img/icones/pergunta.svg')
}

.menu__linkPedidos::before {
    content: url('/assets/img/icones/nota.svg')
}
