.chamada {
    background-color: var(--amarelo);
    background-image: url('/assets/img/splash-chamada.svg');
    background-position: 150% center;
    background-repeat: no-repeat;

    height: 420px;
}

.chamada__container {
    display: flex;

    width: 940px;
    
    margin: 0 auto;

    position: relative;
}

.chamada__imagem-1 {
    height: 400px;

    position: relative;
    top: 20px;
}

.chamada__imagem-2 {
    height: 400px;

    position: relative;
    left: -210px;
    top: 110px;
}

.chamada__texto {
    position: absolute;
    right: 0;
    top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.chamada__texto__titulo {
    background-color: var(--branco);

    font-size: 60px;
    font-weight: var(--peso-titulo);
    color: var(--amarelo);
    text-transform: uppercase;

    padding: 1rem 6rem;

    border: none;
    border-radius: 10px;
}

.chamada__texto__subtitulo {
    font-size: 42px;
    line-height: 1.2em;
    
    text-align: right;
    
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.chamada__texto__texto {
    font-size: 14px;

    margin-bottom: 3rem;
}

.chamada__texto__link, .chamada__texto__link--mobile {
    font-weight: var(--peso-link);

    text-decoration: underline;
}

.chamada__texto__link--mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .chamada {
        width: 100%;
        height: 250px;

        // background-image: url('../img/splash-chamada-mobile.svg');
        background-position: 0 right;
        background-repeat: no-repeat;
    }

    .chamada__container {
        width: 100%;
    }

    .chamada__imagem-1 {
        width: 220px;
        height: 195px;

        left: 1rem;
    }

    .chamada__imagem-2 {
        height: 300px;
        width: 300px;

        left: -20px;
        top: 0;
    }

    .chamada__texto__titulo {
        font-size: 36px;

        padding: 1rem 2rem;

        margin-right: 2rem;
    }

    .chamada__texto__subtitulo {
        font-size: 24px;

        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .chamada__texto__texto {
        display: none;
    }

    .chamada__texto__link {
        display: none;
    }

    .chamada__texto__link--mobile {
        display: block;

        margin-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .chamada__imagem-2 {
        display: none;
    }
}