.texto {
    line-height: 26px;
    color: var(--cinza);
}

.snackbar {
    display: flex;
    justify-content: space-around;

    position: absolute;
    bottom: -100%;

    transition: 1s;
}

.snackbarAtivo {
    bottom: 10vh;

    z-index: 10;

    transition: .5s;
}

.snackbar__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 500px;
    height: 50px;

    margin: 0 auto;

    padding: 1rem 2rem;

    position: fixed;
    left: calc(50% - 250px);

    background-color: var(--preto);

    box-shadow: 10px 10px 10px var(--preto-transparente);
    box-sizing: border-box;

    border-radius: 5px;
}

.snackbar__link {
    color: var(--amarelo);

    font-weight: var(--peso-link);
}

@media screen and (max-width: 1024px) {
    .snackbar__conteudo {
        width: 90%;

        left: 5%;
    }

    .snackbar--ativo {
        bottom: 5vh;
    }
}
