@import url(_variaveis.css);
@import url(_reset.css);

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--preto);

    background-color: var(--branco);
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.texto {
    line-height: 26px;
    color: var(--cinza);
}

.fundo-escuro, .fundo-escuro-snackbar, .fundo-escuro-menu-lateral {
    display: none;

    width: 100%;
    height: 100%;

    background-color: var(--preto);

    opacity: 70%;
}

.fundo-escuro--ativo, .fundo-escuro-snackbar--ativo, .fundo-escuro-menu-lateral--ativo {
    display: block;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}