.carrinho__quantidade-total {
    position: absolute;
    top: .2rem;
    left: calc(50% + 460px);

    width: 24px;
    height: 24px;

    color: var(--branco);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;

    background-color: var(--vermelho);

    box-shadow: 1px 1px 5px var(--preto);

    border-radius: 50%;

    cursor: pointer;
}

.carrinho {
    position: absolute;
    right: 0;
    top: -200%;

    width: 350px;
    height: 100vh;

    padding: 2rem;

    box-sizing: border-box;
    box-shadow: -10px 0px 10px var(--preto-transparente);

    z-index: 20;

    overflow: auto;

    background-color: var(--branco);

    transition: .5s;
}

.carrinhoAtivo {
    position: fixed;
    top: 0;

    transition: .5s;
}

.carrinho__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 3rem;
    
    border-bottom: 1px solid var(--cinza);
    
    margin-bottom: 1.5rem;
}

.carrinho__titulo {
    font-size: 2rem;
    font-weight: var(--peso-titulo);
}

.carrinho__fechar {
    width: 1.5rem;

    cursor: pointer;
}

.carrinho__informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.2rem;
    line-height: 2rem;

    padding-top: 1.5rem;
}

.carrinho__valores {
    text-align: right;
}

.carrinho__textos__total, .carrinho__valores__total {
    font-weight: var(--peso-preco);
}

@media screen and (max-width: 1024px) {
    .carrinho__quantidade-total {
        top: 4vh;
        left: calc(100vw - 4rem);
    }
}
